/* You can add global styles to this file, and also import other style files */
#margenes{
	margin: 50px;
}
#margenes-tarjetas{
	margin-top: 20px;
}
@media screen and (max-width: 991px) {
	#lista {
	  display: none;
	}
}


footer {
	background-color:#1A1A1A;
	height: 50%;
  color: white;
  padding: 15px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}